<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <title>Editar Pelicula</title>
</head>

<body>

  <%-include('.. /pages/bloques/header') %>
    <div class="container">
      <a class="btn btn-dark btn-sm" href="/API/add">Añadir</a>

      <button class="btn btn-danger btn-sm" id="btnEliminar" data-id="<%= pelicula.id %>">
        Eliminar
      </button>

      <% if (!error) { %>

        <form action="/api3/<%= pelicula.id %>" class="my-2" method="POST">
          <input type="text" value="<%= pelicula.Titulo %>" class="form-control my-2" name="Titulo" id="TituloInput" />
          <input type="text" value="<%= pelicula.Director %>" class="form-control my-2" name="Director"
            id="DiretorInput" />

          <input type="text" value="<%= pelicula.Presupuesto %>" class="form-control my-2" name="Presupuesto"
            id="PresupuestoInput" />

          <input type="text" value="<%= pelicula.Cronología %>" class="form-control my-2" name="Cronología"
            id="CronologíaInput" />
          <input type="text" value="<%= pelicula.Estreno %>" class="form-control my-2" name="Estreno"
            id="EstrenoInput" />
          <button type="submit" class="btn btn-warning btn-sm">Editar</button>
        </form>

        <% } %>
    </div>
</body>
<%- include('../pages/bloques/footer') %>

</html>

<script>
  const btnEliminar = document.querySelector(".btn-danger");
  btnEliminar.addEventListener("click", async () => {
    try {
      alert("⚠ Este dato se borra definitivamente de su base de dato ⚠");

      const data = await fetch(`/API/${btnEliminar.dataset.id}`, {
        method: "delete",
      });
      const res = await data.json();
      // console.log(res)
      if (res.estado) {
        window.location.href = "/API/GetAll";
      } else {
        // console.log(res)
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>